
{% include 'partials/adminnav.html' %}
{% block dash %}
<h1>Dashboard</h1>
<div class=''>
<div class=''>
<a href='/staff'>
<h5>STAFF</h5>
<a/>
</div>
<div class=''>
<a href='/customers'>
<h5>CUSTOMERS</h5>
<a/>
</div>
<div class=''>
<a href='/stores'>
<h5>STORES</h5>
<a/>
</div><div class=''>
<a href='/sales'>
<h5>SALES</h5>
<a/>
</div><div class=''>
<a href='/orders'>
<h5>ORDERS</h5>
<a/>
</div><div class=''>
<a href='/warehouses'>
<h5>WAREHOUSES</h5>
<a/>
</div><div class=''>
<a href='/products'>
<h5>PRODUCTS</h5>
<a/>
</div>
</div>
{% endblock dash %}