{% extends 'stafflayout.html' %} {% include '/partials/adminnav.html' %} {%
block form %}

<form method="POST" class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" id="inputEmail4" />
  </div>
  <div class="col-md-6">
    <label for="inputPassword1" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      id="inputPassword4"
    />
  </div>
  <div class="col-12">
    <label for="firstName" class="form-label">First Name</label>
    <input type="text" name="first_ame" class="form-control" id="firstName" />
  </div>
  <div class="col-12">
    <label for="lastName" class="form-label">last Name</label>
    <input type="text" name="last_name" class="form-control" id="lastName" />
  </div>
  <div class="col-md-4">
    <label for="department" class="form-label">Department</label>
    <select name="type" id="department" class="form-select">
      <option value="call_center">Call Center</option>
      <option value="customer_service">Customer Service</option>
      <option value="warehouse">Warehouse</option>
      <option value="marketing">Marketing</option>
      <option value="manager">Manager</option>
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">SUBMIT</button>
  </div>
</form>
{% endblock form %}
