{% extends 'stafflayout.html' %}

{% include '/partials/adminnav.html' %}
 {% block form %}
 <form action="" method="POST">
<label for="first_name">First Name</label>
<input type="text" name="first_name" id="" />
<label for="last_name">Last Name</label>
<input type="text" name="last_name" id="" />
<label for="">Email</label>
<input type="email" name="email" id="" />
<label for="">Department</label>
<select name="department" id="">
  <option value="call_center">Call Center</option>
  <option value="customer_service">Customer Service</option>
  <option value="warehouse">Warehouse</option>
  <option value="marketing">Marketing</option>
  <option value="manager">Manager</option>
  
  
</select>

<button type='submit'>SUBMIT</submit>
</form>

{% endblock form %}
