{% extends 'stafflayout.html' %} {% include '/partials/adminnav.html' %} {%
block body %}
<table>
  <thead>
    <tr>
      <th>Product id</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Type</th>
      <th>Manufacturer</th>
      <th>Quantity</th>
      <th>In stock</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for product in Products %}
    <tr>
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.type}}</td>
        <td>{{product.manufacturer.name}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.in_stock}}</td>
        <td><a href='/product/{{product.id}}'>Edit<a></td>
        <td><a href='/delete_product/{{product.id}}'>Delete</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}
