{% extends 'stafflayout.html' %} {% include '/partials/adminnav.html' %} {%
block body %}
<table>
  <thead>
    <tr>
      <th>Staff id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Dept</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for staff in Staff %}
    <tr>

        <td>{{staff.id}}</td>
        <td>{{staff.first_name}}</td>
        <td>{{staff.last_name}}</td>
        <td>{{staff.email}}</td>
        <td>{{staff.department}}</td>

     <td><a href='/update_staff/{{staff.id}}'>Edit<a></td>
        <td><a href='/delete_staff/{{staff.id}}'>Delete</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}
